extends layout

block content
  .col-md-1
  .wrapper.col-md-10
    h1= title

    a(href='/') back
    p Please choose a difficulty

    a(href='/training/1/')
      .button.trainingLevelButton.col-xs-12
        img.trainingButtonPic(src="http://icons.iconarchive.com/icons/icons8/ios7/128/Science-Math-icon.png")
        span.trainingLevel(data-i18n='buttons.training1')
    a(href='/training/2/')
      .button.trainingLevelButton.col-xs-12
        img.trainingButtonPic(src="http://icons.iconarchive.com/icons/icons8/ios7/128/Science-Math-icon.png")
        span.trainingLevel(data-i18n='buttons.training2')

    a(href='/training/3/')
      .button.trainingLevelButton.col-xs-12
        img.trainingButtonPic(src="http://icons.iconarchive.com/icons/icons8/ios7/128/Science-Math-icon.png")
        span.trainingLevel(data-i18n='buttons.training3')
    a(href='/training/4/')
      .button.trainingLevelButton.col-xs-12
        img.trainingButtonPic(src="http://icons.iconarchive.com/icons/icons8/ios7/128/Science-Math-icon.png")
        span.trainingLevel(data-i18n='buttons.training4')
    a(href='/training/5/')
      .button.trainingLevelButton.col-xs-12
        img.trainingButtonPic(src="http://icons.iconarchive.com/icons/icons8/ios7/128/Science-Math-icon.png")
        span.trainingLevel(data-i18n='buttons.training5')
    a(href='/training/6/')
      .button.trainingLevelButton.col-xs-12
        img.trainingButtonPic(src="http://icons.iconarchive.com/icons/icons8/ios7/128/Science-Math-icon.png")
        span.trainingLevel(data-i18n='buttons.training6')
  .col-md-1