body {
  padding-top: 3em;
  font: 2em "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F2F3DD;
}

a {
  color: #199ACE;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /* background-color: yellow; */
}

.text-center {
  text-align: center;
}

/*h1::before {*/
  /*content: "///";*/
/*}*/



/* for debugging bootstrap */
.indicator {
  position: absolute;
  z-index: 5;
}

/* ========== FRONT PAGE ========== */
.button {
  display: block;
  color:#444;
  border:1px solid #CCC;
  /* border-radius: 3px; */
  background: rgba(210, 210, 210, 0.62);
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  /*margin: 0px;*/
  cursor:pointer;
  vertical-align:middle;
  text-align: center;
}

.button:hover {
  background: #EAEAEA;
}

.frontbutton {
  min-height: 100px;
  padding: 15px;
}

img.buttonPic {
  margin: 0 auto;
}


.button > a:active {
  color: #220000;
  /*box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);*/
}

a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.langSelect {
  position: absolute;
  top: 10px;
  right: 10px;
}

.wrapper {
  padding-bottom: 20px;
  background-color: rgba(227, 208, 131, 0.8);
}

p.loggedInAs {
  position: absolute;
  top: 1em;
  right: 6em;
}


/* ========== TRAINING PAGE ========== */

.example {
  color: gray;
  margin-left: 5%;
}

p.realSolution {
  background-color: #e3e3e3;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.95;
  border-radius: 10px;
  display: none;
}

p.problem,
p.realSolution {
  font-size: 6.9em;
  font-size: 8.5vw;
  text-align: center;
}

span.root {
  text-decoration: overline;
}

input#solution {
  line-height: 2em;
  border-radius: 0.3em;
  /*font-size: 4em;*/
  transition: background-color 1s;
  width: 100%;
}

.correctSolution {
  background-color: lightgreen;
}

.incorrectSolution {
  background-color: indianred;
}

div#helpDiv {
  display: none;
}

div#time {
  float:right;
  opacity: 0;
}

.button.trainingLevelButton {
  text-align: left;
}

button.trainingLevelButton:hover {
  opacity: 1;
}

span.trainingLevel {
  font-size: 1em;
  margin-left: 33%;
}

.trainingButtonPic {
  height: 80px;
}


/* =========== REGISTER PAGE ========== */
.control-group {
  display: inline-block;
}


/* =========== USER PAGE ===============*/
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.grid {
  stroke: #757575;
  opacity: 0.7;
}

.grid path {
  stroke-width: 0;
}

.tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}


/* =========== MEDIA QUERIES ========== */
/* xs */
@media(max-width:767px){
  h1 {
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
  }

}

/* sm */
@media(min-width:768px){
  img.buttonPic{
    height: 225px;
  }
}

/* md */
@media(min-width:992px){}

/* lg */
@media(min-width:1200px){}