body {
  padding-top: 3em;
  font: 2em "Roboto", Helvetica, Arial, sans-serif;
  background-color: #F2F3DD;
}

a {
  color: #199ACE;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /* background-color: yellow; */
}

.text-center {
  text-align: center;
}


h1 {
  font-weight: bold;
  letter-spacing: 0.05em;
}

/* for debugging bootstrap */
.indicator {
  position: absolute;
  z-index: 5;
}

/* ========== FRONT PAGE ========== */
.button {
  display: block;
  color:#444;
  border:1px solid #CCC;
  /* border-radius: 3px; */
  background: rgba(210, 210, 210, 0.62);
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  /*margin: 0px;*/
  cursor:pointer;
  vertical-align:middle;
  text-align: center;
}

.button:hover {
  background: #EAEAEA;
}

.frontbutton {
  min-height: 100px;
  padding: 15px;
}

img.buttonPic {
  margin: 0 auto;
}


.button > a:active {
  color: #220000;
  /*box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);*/
}

a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.langSelect {
  position: absolute;
  top: 10px;
  right: 10px;
}

.wrapper {
  border-radius: 7px;
  padding-bottom: 20px;
  background-color: rgba(227, 208, 131, 0.8);
}

p.loggedInAs {
  position: absolute;
  top: 1em;
  right: 6em;
}


/* ========== TRAINING PAGE ========== */

.example {
  color: gray;
  margin-left: 5%;
}

p.realSolution {
  background-color: #e3e3e3;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.95;
  border-radius: 10px;
  display: none;
}

p.problem,
p.realSolution {
  font-size: 5em;
  font-size: 4.5vw;
  text-align: center;
  font-family: monospace;
}

span.root {
  text-decoration: overline;
}

input#solution {
  line-height: 2em;
  border-radius: 0.3em;
  /*font-size: 4em;*/
  transition: background-color 1s;
  width: 100%;
}

.correctSolution {
  background-color: lightgreen;
}

.incorrectSolution {
  background-color: indianred;
}

div#helpDiv {
  display: none;
}

div#time {
  float:right;
  opacity: 0;
  font-family: monospace;
}

.button.trainingLevelButton {
  text-align: left;
}

button.trainingLevelButton:hover {
  opacity: 1;
}

span.trainingLevel {
  font-size: 1em;
  margin-left: 33%;
}

.trainingButtonPic {
  height: 80px;
}


/* =========== REGISTER PAGE ========== */
.control-group {
  display: inline-block;
}


/* =========== USER PAGE ===============*/
.bar {
  fill: #53dd00;
}

.barHighlight {
    background-color: #53dd00;
    border-radius: 5px;
}

.levelTotalCorrect {
  color: #53dd00;
}


.bar:hover {
  fill: #5ab82f;
}

.timeBar {
  fill: #ff857b;
}

.timeBarHighlight {
    background-color: #ff857b;
    border-radius: 5px;
}

.levelAvgTime {
  color: #ff857b;
}


.timeBar:hover {
  fill: #c56c6c;
}

.userpageIntro {
    padding: 10px;
    margin-top: 10px;
    font-size: 0.8em;
}



.grid {
  stroke: #757575;
  opacity: 0.7;
}

.grid path {
  stroke-width: 0;
}

.tip,
.timeTip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.levelSummary {
  position: absolute;
  right: 0;
  width: 20%;
}

.levelSummary > p {
  margin-top: 28%;
}

.summaryStatIcon {
  margin-right: 10px;
}

/* =========== TIPS PAGES ========== */
span.half {
  opacity: 0.5;
}

.tipsFrame {
  font-size: 1.2em;
  padding: 20px 10px;
  background-color: rgba(255, 249, 234, 0.56);
  border-radius: 5px;
  font-family: 'Kalam';
}

.tipsText {
  /*margin-bottom: 7%;*/
}

.tableLeft {
  width: 30%;
  float:left;
}

.tableRigfht {
  float:right;
}

.tipsExample {
  font-size: 1.5em;
}

.tipContent {
  margin-top: 25px;
}

.highlight1 {
  background-color: rgba(42, 180, 53, 0.35);
  border-radius: 5px;
}

.highlight2 {
  background-color: rgba(80, 120, 255, 0.34);
  border-radius: 5px;
}

.highlight3 {
  background-color: rgba(255, 55, 74, 0.34);
  border-radius: 5px;
}

.highlight4 {
    background-color: rgba(255, 47, 244, 0.34);
    border-radius: 5px;
}

.highlight5 {
    background-color: rgba(163, 224, 255, 0.34);
    border-radius: 5px;
}

.fraction {
    display: inline-block;
    text-align: center;
}
.fraction,
.top,
.bottom {
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: top;
}

.top {
    border-bottom: 5px solid black;
    border-radius: 5px 5px 0 0;
}

.bottom {
    border-radius: 0 0 5px 5px;
    display: block;
}
.vertical {
    display: block;
    margin-top: 1em;
}

/* =========== LOADING SPINNER ========== */
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}




/* =========== MEDIA QUERIES ========== */
/* xs */
@media(max-width:767px){
  h1 {
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
  }

  div.levelSummary {
    font-size: 0.7em;
  }

  .levelSummary > p {
    margin-top: 5%;
  }

}

/* sm */
@media(min-width:768px){
  img.buttonPic{
    height: 225px;
  }
}

/* md */
@media(min-width:992px){}

/* lg */
@media(min-width:1200px){}