.form-inline
    button#prevTipButton.btn-default.btn.form-control
        span.glyphicon.glyphicon-backward
        | &nbsp;
        span(data-i18n="buttons.prevTip")
    select#hintSelect.form-control.form-inline
    button#nextTipButton.btn.btn-default.form-control
        span(data-i18n="buttons.nextTip")
        | &nbsp;
        span.glyphicon.glyphicon-forward