extends ../tipsLayout
block tipContent
    - var path = "[html]hints.frac.0."
    h1(data-i18n=path + "0")
    .tipsFrame
        .tipsText
            p(data-i18n=path + "1")
        .tipsExample
            p(data-i18n=path + "2")
        .tipsText
            p(data-i18n=path + "3")
        .tipsExample
            p(data-i18n=path + "4")
        .tipsText
            p(data-i18n=path + "5")
        .tipsExample
            p(data-i18n=path + "6")
        .tipsText
            p(data-i18n=path + "7")
        .tipsExample
            p(data-i18n=path + "8")
        .tipsText
            p(data-i18n=path + "9")
        .tipsExample
            p(data-i18n=path + "10")